body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 16px;
}

.rise-anime {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}

.h2-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.h2-wrap h2 {
  display: inline-block;
  font-size: 60px;
  border-bottom: 1px solid #ccc;
}

.link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #fff;
}

#access-bg {
  background-image: url(../img/bird1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
}

#access-bg #access-bg-rgba {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
}

#access-bg .access-bg-rgba-show {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#side-link-buttons-wrap {
  position: fixed;
  top: 35%;
  right: 0;
  -webkit-transform: rotate(-90deg) translateY(0%);
          transform: rotate(-90deg) translateY(0%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #fff;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
}

#side-link-buttons-wrap a {
  width: 165px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: solid 1px #fff;
}

#side-link-buttons-wrap a:last-of-type {
  border-right: 0;
}

.content-wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

header {
  overflow: hidden;
  height: 100vh;
}

header #top-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  height: 100%;
}

header #top-images-wrap img {
  width: calc(100%/3);
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main #fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

main #fixed-top #hamburger-menu {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

main #fixed-top #hamburger-menu .hamburger-line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main #fixed-top #hamburger-menu .hamburger-line:nth-child(1) {
  top: 0;
}

main #fixed-top #hamburger-menu .hamburger-line:nth-child(2) {
  top: 50%;
}

main #fixed-top #hamburger-menu .hamburger-line:nth-child(3) {
  top: 100%;
}

main #fixed-top #top-menu {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  background-color: #000;
  z-index: -1;
  padding: 90px 0 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

main #fixed-top #top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main .hamburger-active #hamburger-menu .hamburger-line:nth-child(1) {
  top: 50% !important;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .hamburger-active #hamburger-menu .hamburger-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .hamburger-active #hamburger-menu .hamburger-line:nth-child(3) {
  top: 50% !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .hamburger-active #top-menu {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

main .show-fixed-top {
  opacity: 1 !important;
  pointer-events: auto !important;
}

main #main-h1 {
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 100px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main #info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 100px 0 140px;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main #info-section #info-date-ja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

main #info-section #info-date-ja:nth-child(1) {
  font-size: 24px;
}

main #info-section #info-date-ja:nth-child(2) {
  font-size: 18px;
}

main #info-section #info-hall-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

main #info-section #info-date-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #gallery-section #gallery-h2 {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

main #gallery-section #gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

main #gallery-section #gallery-images .gallery-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
  opacity: 0;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

main #gallery-section #gallery-images .gallery-img-wrap img {
  width: 50%;
  padding-right: 15px;
}

main #gallery-section #gallery-images .gallery-img-wrap:nth-child(2), main #gallery-section #gallery-images .gallery-img-wrap:nth-child(4), main #gallery-section #gallery-images .gallery-img-wrap:nth-child(6) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main #gallery-section #gallery-images .gallery-img-wrap:nth-child(2) img, main #gallery-section #gallery-images .gallery-img-wrap:nth-child(4) img, main #gallery-section #gallery-images .gallery-img-wrap:nth-child(6) img {
  padding-right: 0;
  padding-left: 15px;
}

main #access-section {
  position: relative;
}

main #access-section .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 480px 0 495px;
  z-index: 10;
  text-align: center;
}

main #access-section .content-wrap #access-hall-name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

main #access-section .content-wrap #access-location {
  margin-bottom: 20px;
}

main #access-section .content-wrap #access-contact {
  margin-bottom: 30px;
}

main #access-section .content-wrap .link-button {
  width: 270px;
  height: 50px;
}

main #contact-section .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 200px;
}

main #contact-section .content-wrap #contact-buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

main #contact-section .content-wrap #contact-buttons-wrap .link-button {
  position: relative;
  width: 400px;
  height: 80px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #contact-section .content-wrap #contact-buttons-wrap .link-button:hover {
  opacity: 0.7;
}

main #contact-section .content-wrap #contact-buttons-wrap .link-button:hover .contact-button-arrow {
  right: -13%;
}

main #contact-section .content-wrap #contact-buttons-wrap .link-button .contact-button-arrow {
  position: absolute;
  height: 1px;
  width: 30%;
  top: 50%;
  right: -10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #contact-section .content-wrap #contact-buttons-wrap .link-button .contact-button-arrow::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 1px;
  top: 0;
  right: 0;
  background: #fff;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer {
  background-color: #000;
  border-top: solid 1px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 30px;
  font-size: 12px;
}

footer #footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

footer #footer-left #footer-left-top p {
  line-height: 16px;
}

footer #footer-left #footer-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

footer #footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
}

@media (max-width: 900px) {
  .h2-wrap h2 {
    font-size: 32px;
  }
  #side-link-buttons-wrap {
    display: none;
  }
  header #top-images-wrap {
    -webkit-transform: scale(350%);
            transform: scale(350%);
  }
  main #main-h1 {
    padding-top: 50px;
    font-size: 48px;
  }
  main #info-section {
    padding: 50px 0 80px;
  }
  main #info-section #info-hall-name {
    font-size: 32px;
  }
  main #gallery-section #gallery-images {
    gap: 30px;
  }
  main #gallery-section #gallery-images .gallery-img-wrap img {
    width: 100%;
    padding-right: 0;
  }
  main #gallery-section #gallery-images .gallery-img-wrap:nth-child(2) img, main #gallery-section #gallery-images .gallery-img-wrap:nth-child(4) img, main #gallery-section #gallery-images .gallery-img-wrap:nth-child(6) img {
    padding-left: 0;
  }
  main #access-section .content-wrap {
    padding: 280px 0;
  }
  main #contact-section .content-wrap #contact-buttons-wrap {
    width: 100%;
  }
  main #contact-section .content-wrap #contact-buttons-wrap .link-button {
    width: 100%;
  }
  main #contact-section .content-wrap #contact-buttons-wrap .link-button .contact-button-arrow {
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding: 60px 30px;
  }
}
/*# sourceMappingURL=style.css.map */